
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  src: local('Catamaran Bold'), local('Catamaran-Bold'), url(https://fonts.gstatic.com/s/catamaran/v2/PpgVtUHUdnBZYNpnzGbSc-gdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v2/iVYgK2bOLvZcSxr0ITOecltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/** {
  border: 1px solid pink;
}*/

html {
  font-size: 16px;
}

body{
  color: hsla(225, 2%, 21%, 1);
  background-color: #222222;
  font-family: 'Catamaran', 'Open Sans' ,'PT Sans', sans-serif;
  line-height: 1.2;
}

.container{
  display: inline-block;
  width: 100%;
  margin-top: 3rem;
}

.content-width{
  width: 30rem;
}

/*Quote Area*/
.quote-section{
  margin: 3rem auto;
  border: 2px double red;
  background-color: #999999;
  text-align: center;
}

.quote-text{
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.quote-author{
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: right;
}

/*buttons for new quote and tweet*/
.buttons{
 display: flex;
 justify-content: flex-end;
 margin: 0 auto;
}

.buttons .twitter,
.buttons .next-quote {
  margin: 0 0 0 2rem;
  font-size: 1.5rem;
}

.twitter-button {
  color: hsla(212, 100%, 63%, 1);
  transition: color .8s ease .1s;
}

.twitter-button:hover{
  color: hsla(212, 100%, 33%, 1);
}

.next-quote {
  background-color: hsla(190, 50%, 70%, .9 );
  transition: background-color .8s, ease .1s;
  border: none;
}

.next-quote:hover{
  background-color: hsla(140, 50%, 35%, .9);
}

/*footer section*/
footer{
  display: flex;
  margin: 15rem auto 0 auto;
  justify-content: space-between;
}

footer h1,
footer h4 {
  font-size: .75rem;
  max-width: 50%;
}

footer a {
  color: #006400;
}

@media only screen and (max-width: 480px) {
  .quote-section {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .quote-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer{
    display: flex;
    width:100%;
    justify-content: flex-end;
  }
  footer h1,
  footer h4 {
    font-size: .75rem;
    width: 100%;
  }
}
